*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex; /* Utilisation de flexbox pour gérer la mise en page */
    flex-direction: column; /* Disposition en colonne */
    min-height: 100vh; /* Hauteur minimale de 100% de la fenêtre */
    height: auto;
}

.logo{
    white-space: nowrap;
    font-size: 3rem;
    color: white;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 6px;
}

.accueil{
    display: flex;
    align-items: center;
    height: 80px;
}

header{
    display: flex;
    background-color: #2A7E12;
    height: 80px;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    width: 100%;
    z-index: 2;
    
}

.menu-principal{
    text-decoration: none; 
    color: white; 
    font-size: 16px; 
    font-weight: bold; 
    letter-spacing: 6px;
    cursor: pointer;
}

footer {
    display: flex;
    background-color: #515050;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    margin-top: auto; /* Pousse le footer en bas */
    z-index: 2;
}

.mentions-legales{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 6px;
}


.gapReseaux{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

.space{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.ContainerTitleNav {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  width: 200px;
  padding: 7px;
  position: relative; /* Ajout pour positionner le dropdown correctement */
  cursor: pointer;
}

.ContainerTitleNavConnect {
  display: flex;
  justify-content: end;
  bottom: 4px;
  margin-bottom: 5px;
  position: relative; /* Ajout pour positionner le dropdown correctement */
  cursor: pointer;
}

.titleNav, .linkNav {
  font-size: 1.3rem;
  font-weight: 500;
}

.titleNav{
  display: flex;
  align-items: center;
  gap: 7px;
  padding-right: 10px;
}

.InsideNav {
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  padding: 7px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.linkNav {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-top: 200px;
}

.openbtn{
  display: none;
  background-color: #2A7E12;
  width: 70px;
  height: 80px;
  border: none;
}

.openbtn:hover{
  background-color: #2C9A0D;
}

.sidebar {
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2A7E12;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.gapReseauxPop{
  width: 50px;
  color: white;
}

.ReseauxRow{
 display: flex;
 flex-direction: row;
}

.color{
  color: white;
  margin: 10%;
}

.row1 {
    display: flex;
    align-items: center;
    height: 9.5rem;
    margin-left: 4.3rem;
}

.back{
    background-color: #f1f1f1;
    min-height: 100vh;
    padding: 10px;
}

.div1, .containerDiv1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1{
    margin-top: 20px;
    height: 84px;
    max-width: 489px;
    width: 100%;
    gap: 10px;
}

.highSpan{
    font-size: 2.8rem;
}

.containerDiv1{
    display: flex;
    justify-content: center;
}

.textName{
    font-size: 2rem;
}

.textStatut{
    color: #787878;
    font-size: 1.5rem;
}

.ImageProfil{
    width: 84px;
    height: auto;
}

.center{
    display: flex;
    justify-content: center;
}

.div2{
    margin-top: 10px;
    max-width: 489px;
    width: 100%;
}

.textEmail, .textNum, .textHire, .textSpace, .textDel, .textModif{
    font-size: 1.5rem;
}

.LinkEmail{
    text-decoration: none;
    color: black;
}

.LinkEmail:hover{
    text-decoration: underline;
    color: black;
}

.textSpace, .textDel, .textModif{
    color: #037CD2;
    text-decoration: none;
}

.userNav{   
  width: 58px;
  height: auto;
  border-radius: 50%;
  overflow: hidden; /* S'assure que l'image débordant en dehors du cercle est masquée */
  object-fit: cover; /* Permet à l'image de s'ajuster correctement dans le cercle */
}

.textSpace:hover, .textDel:hover, .textModif:hover{
    color: #2DA0FD;
    text-decoration: underline;
}

.containerDivPrincipal{
    display: flex;
    margin: 0 auto;
    max-width: 908px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    max-height: 888px;
    height: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.voir-plus-align{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.button-container{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.buttonAvis{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 44px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #2A7E12;
    border: none;
    color: white;
    cursor: pointer;
}

.hrDivPrincipal{
    margin: 5px 0 5px 0;
}

.textDivPrincipal{
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 6px;
}

.divPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

/* recherche chauffeur */

.numberCovoit, .pseudo{
    max-width: 325px;
    width: 100%;
    font-size: 1rem;
}

.backSearchBar{
    margin: auto 0;
    padding-top: 20px;
    background-color: #f1f1f1;
    min-height: 20vh;
    padding: 5px;
}

.search-bar{
    display: flex;
    margin: auto;
    max-width: 707px;
    width: 100%;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

input, button{
    padding: 15px;
    border: 1px solid black;
}

.pseudo{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ButtonRounded{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px; 
    background-color: #2A7E12; 
    color: white; 
    text-decoration: none; 
    cursor: pointer;
    height: 55.5px;
}

i {
    font-size: 28px;
    color: white; 
}

/* voir plus */

.avis, .avisAffiche{
    display: flex;
    justify-content: center;
}

.avis{
    margin-top: 50px;
    font-size: 48px;
}

.middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    width: 100%;
}

 .avis-container {
      background: white;
      padding: 15px;
      margin: 0 auto;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      max-width: 886px;
      width: 100%;
    }

    .avis-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .avis-nom {
      font-size: 18px;
    }

    .commentaire {
  max-height: 60px;
  overflow: hidden;
  white-space: normal; /* autorise les retours à la ligne */
  word-wrap: break-word; /* coupe les mots longs */
  word-break: break-word;

}

.trajet-info{
    display: flex;
    justify-content: end;
}

    .commentaire.expanded {
      max-height: 1000px; 
    }

    .voir-plus {
      display: none;
      color: black;
      font-size: 14px;
      cursor: pointer;
      margin-top: 5px;
      text-decoration: none;
    }

    .voir-plus:hover{
        text-decoration: underline;
    }

    .voir-plus.visible {
      display: inline-block;
    }

    .infos{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .buttonSubmitAvis{
    width: 127px;
    height: 40px;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: #2A7E12;
    border: none;
    color: white;
}

.message{
    max-width: 886px;
    width: 100%;
    min-height: 130px;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #787878;
}

.etoile{
    width: 25px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
}

input[type="radio"] {
    display: none; /* Cacher les boutons radio */
}

.containerNote{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.textNote{
    font-size: 20px;
}

.hrMessage, .containerArea{
    max-width: 886px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.buttonContainerAvis{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    max-width: 886px;
    width: 100%;
}

/* pagination */ 

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #e0e0e0;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.pagination a:hover {
    background-color: #ccc;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

/* Style de la barre de défilement */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar */
    height: 12px; /* Hauteur pour la barre horizontale */
}

/* Couleur et style de la piste de défilement */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* Couleur de fond */
    border-radius: 10px; /* Bords arrondis */
}

/* Style du curseur de défilement */
::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background: #2A7E12; /* Couleur du curseur */
    border-radius: 10px; /* Bords arrondis */
    border: 2px solid #f0f0f0; /* Bordure autour du curseur */
}

/* Lorsque la scrollbar est survolée */
::-webkit-scrollbar-thumb:hover {
    background: #2A7E12; /* Couleur du curseur au survol */
}

@media screen and (max-width: 768px)
{
    .textEmail, .textNum, .textHire, .textSpace, .textDel, .textStatut, .textModif{
        font-size: 1.2rem;
    }

    .ImageProfil{
        width: 74px;
    }

    .textName{
        font-size: 1.8rem;
    }

    .highSpan, .textDivPrincipal{
        font-size: 2.2rem;
    }

    .row1{
        margin-left: 3rem;
    }
}

@media screen and (max-width: 730px)
{
    .search-bar, .pseudo, .numberCovoit, .ButtonRounded{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        border-radius: 0;
    }

    .backSearchBar{
        min-height: 40vh;
    }

    .pseudo{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .ButtonRounded{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .search-bar{
        border-radius: 10px;
    }
}

@media screen and (max-width: 645px)
{
  .logo{
    font-size: 1.8rem;
    letter-spacing: 4px;
  }

  .textDivPrincipal{
    font-size: 1.8rem;
  }

  .openbtn, .sidebar{
    display: block;
    overflow: hidden;
  }

  .menu-principal, .gapReseaux, .mentions-legales, .ContainerTitleNav, .nav{
    display: none;
  }

  footer{
    background-color: white;
    z-index: 0;
    height: 0;
  }

  .titleNav, .InsideNav{
    display: none;
  }
}

@media screen and (max-width: 600px)
{
    .textEmail, .textNum, .textHire, .textSpace, .textDel, .textStatut, .textModif{
        font-size: 1rem;
    }

    .ImageProfil{
        width: 65px;
    }

    .textName{
        font-size: 1.5rem;
    }

    .highSpan{
        font-size: 1.8rem;
    }

    .row1{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 500px){

    .button-container{
    flex-direction: column;
}

.buttonAvis{
    width: 100px;
    height: 40px;
    font-size: 1rem;
}
}