*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-areas: 
        "col1 col2 col3";
    grid-template-columns: 1fr 4fr 2fr;
    height: 219px;
    max-width: 872px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.hrCovoit{
    width: 100%;
}

.ContainerlineWithText{
    max-width: 450px;
    width: 100%;
    padding: 10px;
}

.lineWithText{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.townPop, .HourPop, .spacePop{
    display: flex;
    justify-content: space-between;
}

.col1Pop, .col2Pop, .col3Pop{
    font-size: 20px;
}

.trajetEcologique{
    display: flex;
    align-items: center;
    gap: 5px;
}

.userPop{
    max-width: 80px;
    width: 100%;
}

.linkCovoit{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.linkCovoit:hover{
    text-decoration: underline;
}

.creditPop, .placePop{
    display: flex;
    justify-content: center;
}

.creditPop{
    font-size: 30px;
}

.placePop{
    padding-bottom: 20px;
}

.col1Pop{
    grid-area: col1;
    border-right: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.col2Pop{
    grid-area: col2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

.col3Pop{
    grid-area: col3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

  /* notification */ 

.notif-container {
  position: relative;
  display: inline-block;
}

.bellNotif {
  cursor: pointer;
  font-size: 24px;
  position: relative;
  color: white;
  margin-left: 10px;
}

.notif-badge {
  background: red;
  color: white;
  font-size: 12px;
  padding: 1px 7px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}

.notification {
  display: none;
  position: absolute;
  top: 35px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 250px;
  z-index: 1;
  padding: 10px;
  flex-direction: column;
}

.notification.visible {
  display: flex;
}

.buttonNotif{
    background-color: #2A7E12;
    color: white;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.notif-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.notif-container{
    display: flex;
    justify-content: center;
}

.notif-separator{
    margin: 10px 0 10px 0;
    width: 100px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 3px;
}

.linkCovoit{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.linkCovoit:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px)
{
    .col1Pop, .col2Pop, .col3Pop{
        font-size: 1.2rem;
    }

    .creditPop{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 400px)
{
    .col1Pop, .col2Pop, .col3Pop{
        font-size: 1rem;
    }

    .creditPop{
        font-size: 1.5rem;
    }

    .userPop{
        width: 65px;
    }

    .container{
        display: grid;
        grid-template-areas: 
            "col2 col2"
            "col1 col3";
        grid-template-columns: 1fr 2fr;
        height: auto;
    }

    .ContainerlineWithText{
        margin: 0 auto;
    }

    .col1Pop, .col3Pop{
        border-top: 1px solid black;
    }
}