*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex; /* Utilisation de flexbox pour gérer la mise en page */
    flex-direction: column; /* Disposition en colonne */
    min-height: 100vh; /* Hauteur minimale de 100% de la fenêtre */
    height: auto;
}

.logo{
    white-space: nowrap;
    font-size: 3rem;
    color: white;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 6px;
}

.accueil{
    display: flex;
    align-items: center;
    height: 80px;
}

header{
    display: flex;
    background-color: #2A7E12;
    height: 80px;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    width: 100%;
    z-index: 2;
    
}

.menu-principal{
    text-decoration: none; 
    color: white; 
    font-size: 16px; 
    font-weight: bold; 
    letter-spacing: 6px;
    cursor: pointer;
}

footer {
    display: flex;
    background-color: #515050;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    margin-top: auto; /* Pousse le footer en bas */
    z-index: 2;
}

.mentions-legales{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 6px;
}


.gapReseaux{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

.space{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.ContainerTitleNav {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  width: 200px;
  padding: 7px;
  position: relative; /* Ajout pour positionner le dropdown correctement */
  cursor: pointer;
}

.ContainerTitleNavConnect {
  display: flex;
  justify-content: end;
  bottom: 4px;
  margin-bottom: 5px;
  position: relative; /* Ajout pour positionner le dropdown correctement */
  cursor: pointer;
}

.titleNav, .linkNav {
  font-size: 1.3rem;
  font-weight: 500;
}

.titleNav{
  display: flex;
  align-items: center;
  gap: 7px;
  padding-right: 10px;
}

.InsideNav {
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  padding: 7px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.linkNav {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-top: 200px;
}

.openbtn{
  display: none;
  background-color: #2A7E12;
  width: 70px;
  height: 80px;
  border: none;
}

.openbtn:hover{
  background-color: #2C9A0D;
}

.sidebar {
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2A7E12;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.gapReseauxPop{
  width: 50px;
  color: white;
}

.ReseauxRow{
display: flex;
flex-direction: row;
}

.color{
  color: white;
  margin: 10%;
}

.container-title{
    display: flex;
    align-items: center;
    height: 159px;
    margin-left: 4.375rem;
}

.title{
    font-weight: 600;
    letter-spacing: 6px;
    margin-left: 10px;
}

.container1{
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.text-container{
    margin-top: 2rem;
    width: 1200px;
}

.text{
    display: flex;
    justify-content: center;
}

.input1, .input2, .input3, .input4{
    height: 43px;
    border-radius: 10px;
    padding-left: 10px;
}

.input4{
    width: 100%;
    max-width: 553px;
    margin-left: 5px;
}

.input2{
    width: 200px;
}

.input1{
    width: 100%;
    max-width: 553px;
    margin-left: 5px;
}

.input3{
    width: 60px;
    padding: 5px;
    margin-left: 5px;
}


.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container-align{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div2{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.text-label, .text-label2{
    font-size: 1rem;
}

.text-label{
    width: 180px;
}

.text-label2{
    max-width: 100px;
    width: 100%;
}

.text-container2{
    margin-top: 2rem;
    width: 733px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2{
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-bottom: 4rem;
}

.removeVehicule{
  background-color: red; 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.div3{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.div3, .container-align2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-align2{
    margin-left: 50px;
    gap: 20px;
    flex-wrap: wrap;

}

.plus{
  display: flex;
  align-items: center;
}

.text-preference{
    font-size: 1.2rem;
}

.ajout-vehicule{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.surContainerDiv4{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F4F4F4;
}

.containerDiv4{
    display: flex;
    max-width: 750px;
    width: 100%;
    margin-bottom: 40px;
}

.div4{
    display: flex;
    max-width: 750px;
    justify-content: center;
}

.containerInsideAjout{
  display: flex;
  max-width: 750px;
  width: 100%;
  justify-content: space-between
}

.containerAjoutAlign{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F4F4;
  padding-bottom: 200px;
}

.button-continue{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2A7E12;
    color: white;
    border-radius: 10px;
    border: none;
}

.number{
    display: flex;
    align-items: center;
}

.buttonSubmit{
    display: flex;
    width: auto;
    padding: 10px;
    height: 43px;
    color: white;
    background-color: #2A7E12;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: auto;
    margin-bottom: 20px;
}

.containerSubmit{
  align-items: center;
}

.userNav{   
  width: 58px;
  height: auto;
  border-radius: 50%;
  overflow: hidden; /* S'assure que l'image débordant en dehors du cercle est masquée */
  object-fit: cover; /* Permet à l'image de s'ajuster correctement dans le cercle */
}

  /* notification */ 

.notif-container {
  position: relative;
  display: inline-block;
}

.bellNotif {
  cursor: pointer;
  font-size: 24px;
  position: relative;
  color: white;
  margin-left: 10px;
}

.notif-badge {
  background: red;
  color: white;
  font-size: 12px;
  padding: 1px 7px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}

.notification {
  display: none;
  position: absolute;
  top: 35px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 250px;
  z-index: 1;
  padding: 10px;
  flex-direction: column;
}

.notification.visible {
  display: flex;
}

.buttonNotif{
    background-color: #2A7E12;
    color: white;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.notif-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.notif-container{
    display: flex;
    justify-content: center;
}

.notif-separator{
    margin: 10px 0 10px 0;
    width: 100px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 3px;
}

.linkCovoit{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.linkCovoit:hover{
    text-decoration: underline;
}

/* Style de la barre de défilement */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar */
    height: 12px; /* Hauteur pour la barre horizontale */
}

/* Couleur et style de la piste de défilement */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* Couleur de fond */
    border-radius: 10px; /* Bords arrondis */
}

/* Style du curseur de défilement */
::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background: #2A7E12; /* Couleur du curseur */
    border-radius: 10px; /* Bords arrondis */
    border: 2px solid #f0f0f0; /* Bordure autour du curseur */
}

/* Lorsque la scrollbar est survolée */
::-webkit-scrollbar-thumb:hover {
    background: #2A7E12; /* Couleur du curseur au survol */
}

@media screen and (max-width: 855px)
{
    .container-align, .div4
    {
        flex-direction: column;
        align-items: start;
    }

    .text-container{
      max-width: 733px;
    }

    .div4{
        gap: 10px;
    }

    .widthPlus1, .widthPlus2{
      width: 20px;
    }
}

@media screen and (max-width: 645px)
{
  .logo{
    font-size: 1.8rem;
    letter-spacing: 4px;
  }

  .openbtn, .sidebar{
    display: block;
    overflow: hidden;
  }

  .menu-principal, .gapReseaux, .mentions-legales, .ContainerTitleNav, .nav{
    display: none;
  }

  footer{
    background-color: white;
    z-index: 0;
    height: 0;
  }

  .titleNav, .InsideNav{
    display: none;
  }

  .container-title{
    margin-left: 0;
    width: 310px;
  }

  .container-align2{
    margin-left: 30px;
    gap: 0;
  }
}

@media screen and (max-width: 390px) {
    .notification {
        width: 200px;
        right: 0;
    }
    
}

@media screen and (max-width: 340px) {
    .text-label{
        width: 165px;
    }
    
}